<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />

    <title>Document</title>
  </head>
  <body>
    <form id="madlibs-form" action="/story">
      <h2>Madlibs</h2>

      {% for prompt in prompts%}
      <label for="{{prompt}}">{{prompt}}: </label>
      <input type="text" name="{{prompt}}" />
      {% endfor %}
      <button type="submit">Submit</button>
      <!-- <label for="place">place: </label>
      <input type="text" name="place" />
      <label for="noun">noun: </label>
      <input type="text" name="noun" />
      <label for="verb">verb: </label>

      <input type="text" name="verb" />
      <label for="adjective">adjective: </label>

      <input type="text" name="adjective" />

      <label for="plural_noun">plural_noun: </label> -->
      <!-- <input type="text" name="plural_noun" /> -->
    </form>
  </body>
</html>
